<div class='form'>
	<%= form_for wiki do |f| %>
		<div class='form-group'>
			<%= f.label :title %><br />
			<%= "#{wiki.title}" %>
		</div>
		<div class='form-group'>
			<%= f.label :body %>
			<%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter body here" %>
		</div>
		<div class='form-group'>
			<%= check_box_tag :private %>
			<%= label_tag :private, "Private" %>
		</div>
			<%= f.submit "Submit Wiki", class:'btn btn-success' %>
		<% end %>
</div>