<h2><%= @wiki.title %></h2>
<p>Reminder of guidelines</p>
<ul>
	<li>Keep it simple, stupid.</li>
	<li>Cite as much as possible.</li>
	<li>Don't forget to add links to other pages.</li>
</ul>
<%= markdown("Markdown ~~nearly~~ **now** supported in wiki body!") %>
<div>
	<%= render partial: "edit_form", locals: { wiki: @wiki } %>
</div>
<% if @wiki.private? %>
	<div>
		<h3>Manage Collaborators</h3>
			<% users = @wiki.users.order(username: :asc).to_a %>
			<% users.delete_if{ |user| user == @wiki.user } %>
			<%= "Username: #{@wiki.user.username}, Email: #{@wiki.user.email} (Creator)" %><br />
			<% users.each do |collab| %>
				<%= "Username: #{collab.username}, Email: #{collab.email}" %><br />
			<% end %>
		<div><br />
			<%= render partial: "/collaborators/add_form", locals: { wiki: @wiki, collaborator: @collaborator } %>
		</div><br />
		<div>
			<%= render partial: "/collaborators/delete_form", locals: { wiki: @wiki, wiki_user_id: @wiki.user.id } %>
		</div>
	</div>
<% end %>
